@font-face {
  font-family: "iconfont"; /* Project id 4251885 */
  src: url('iconfont.woff2?t=1695479809775') format('woff2'),
       url('iconfont.woff?t=1695479809775') format('woff'),
       url('iconfont.ttf?t=1695479809775') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e605";
}

.icon-weixin:before {
  content: "\e606";
}

.icon-weibo1:before {
  content: "\e63d";
}

.icon-xiangxiajiantou1:before {
  content: "\e656";
}

.icon-xiangxiajiantou:before {
  content: "\e7c3";
}

.icon-wenzhang-copy:before {
  content: "\e643";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-jiarehuoyan:before {
  content: "\e7a3";
}

.icon-24gf-videoCamera:before {
  content: "\e9f5";
}

.icon-bofang:before {
  content: "\e63a";
}

.icon-duosucai:before {
  content: "\e603";
}

.icon-yanjing:before {
  content: "\e62c";
}

.icon-bangzhu1:before {
  content: "\e613";
}

.icon-yunshangchuan:before {
  content: "\e697";
}

.icon-shenglvehao:before {
  content: "\e708";
}

.icon-72:before {
  content: "\e69f";
}

.icon-rengongkefu:before {
  content: "\e87c";
}

.icon-085shucezhongxin:before {
  content: "\e65a";
}

.icon-yonghu-xianxing:before {
  content: "\e8c8";
}

.icon-xueshimao:before {
  content: "\e6cf";
}

.icon-VIP:before {
  content: "\e62b";
}

.icon-sheyingshipin:before {
  content: "\e61e";
}

.icon-duanshipinhuati:before {
  content: "\e876";
}

.icon-yunhang:before {
  content: "\ec61";
}

.icon-yonghu:before {
  content: "\e602";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-blender:before {
  content: "\e6a1";
}

.icon-search1:before {
  content: "\e62a";
}

.icon-QQ:before {
  content: "\e65b";
}

.icon-shoucang1:before {
  content: "\e622";
}

.icon-chevronsrightshuangyoujiantou:before {
  content: "\e6d6";
}

.icon-youjiantou:before {
  content: "\e6b5";
}

.icon-youjiantoushixinxiao:before {
  content: "\e637";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-gouwuche:before {
  content: "\e601";
}

.icon-navicon-wxgl:before {
  content: "\e683";
}

.icon-yijianfankui:before {
  content: "\e64e";
}

.icon-weibo:before {
  content: "\e620";
}

.icon-tubiao-weixin:before {
  content: "\e621";
}

.icon-APPtuisong:before {
  content: "\e629";
}

.icon-shoucang:before {
  content: "\e604";
}

.icon-bangzhu:before {
  content: "\e61a";
}

.icon-search:before {
  content: "\e623";
}

